---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@layouts/Container.astro'

const pageTitle = '關於我'
const pageDescription =
    '我是 Martin，一名前端工程師，專注於 React 開發，分享自己的專業知識和工作經驗及軟體開發大小事，實現更多職業成長的機會。'
---

<BaseLayout pageTitle={pageTitle} description={pageDescription}>
    <Container>
        <div class="py-6">
            <p>Hi, I'm Martin</p>
        </div>
    </Container>
</BaseLayout>
