---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

import AvatarImgUrl from '~/assets/images/avatar.png';

const metadata = {
  title: '關於我',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/ChengYiLin',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/mtcode.tw/',
        },
      },
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/profile.php?id=61550755944923',
        },
      },
    ]}
    image={{
      src: AvatarImgUrl,
      alt: 'Avatar Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-6 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">Hi, 我是 Martin 👋</h3>
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through Coding"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Frontend Development',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Backend Development',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'Cloud Service',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
    ]}
  />

  <WidgetWrapper>
    <div class="flex flex-col items-center justify-around gap-8 lg:flex-row lg:items-start">
      <!-- Steps Widget ****************** -->

      <Steps
        id="resume"
        title="Work experience"
        items={[
          {
            title:
              'Frontend Engineer<br /> <span class="font-normal">Hahow, Taiwan</span> <br /> <span class="text-sm font-normal">2023.May - Present</span>',
            icon: 'tabler:briefcase',
          },
          {
            title:
              'Sr. Frontend Developer <br /> <span class="font-normal">MEXC, Taiwan</span> <br /> <span class="text-sm font-normal">2022.Sep - 2023.May</span>',
            icon: 'tabler:briefcase',
          },
          {
            title:
              'Frontend Developer <br /> <span class="font-normal">91APP, Taiwan</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
            icon: 'tabler:briefcase',
          },
        ]}
        classes={{ container: 'max-w-3xl' }}
      />

      <!-- Steps Widget ****************** -->

      <Steps
        id="resume"
        title="Education"
        items={[
          {
            title: `Bachelor of Biomedical Science <br /> <a class="text-base font-normal" href="https://www.ccu.edu.tw/">National Chung Cheng University</a>`,
            icon: 'tabler:school',
          },
        ]}
        classes={{ container: 'max-w-3xl' }}
      />
    </div>
  </WidgetWrapper>
</Layout>
