---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@layouts/Container.astro'
const pageTitle = 'About Me'
---

<BaseLayout pageTitle={pageTitle}>
    <Container>
        <p>Hi, I'm Martin</p>
    </Container>
</BaseLayout>
