---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@layouts/Container.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')

const pageTitle = '部落格 Blog'
---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <div class="py-6">
      <h1>Blog</h1>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</BaseLayout>
