---
import Greeting from '../components/Greeting.tsx'
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Home Page ~~'
---

<BaseLayout pageTitle={pageTitle}>
    <Greeting client:visible messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
    <h2 class="text-2xl text-rose-300">My awesome blog subtitle !!!</h2>
</BaseLayout>
