---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@layouts/Container.astro'

const pageTitle = 'Home Page ~~'
---

<BaseLayout pageTitle={pageTitle}>
    <Container>
        <h2 class="text-2xl text-rose-600">My awesome blog subtitle !!!</h2>
    </Container>
</BaseLayout>
