---
import Layout from '~/layouts/PageLayout.astro';

import HeroImgUrl from '../assets/images/hero.png';

import Hero from '~/components/widgets/Hero.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'MTCode',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Martin Lin"
    tagline="Software Engineer"
    actions={[{ variant: 'primary', text: '關於我', href: '/about' }]}
    image={{
      src: HeroImgUrl,
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="subtitle">
      我是一名網頁前端工程師，<br class="inline-block xl:hidden" />具有 3 年的實務工作經驗，<br />
       專注於 React 生態系的開發，<br class="inline-block xl:hidden" />並熱衷於探索各種新技術，<br />
       透過本站分享自己的所學所感
    </Fragment>
  </Hero>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="最新文章" linkText="想看更多" count={3}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
