---
import Container from '@layouts/Container.astro'

interface NavLink {
    text: string
    link: string
}

const navLinkList: NavLink[] = [
    {
        text: 'Home',
        link: '/',
    },
    {
        text: 'Blog',
        link: '/blog',
    },
    {
        text: 'About',
        link: '/about',
    },
]
---

<header class="fixed inset-x-0">
    <Container>
        <div
            class="box-border flex justify-between border-b-2 border-slate-500 py-6"
        >
            <a href="/" rel="noreferrer noopener">
                <p class="text-2xl font-semibold">Martin Code</p>
            </a>
            <nav>
                <ul class="flex list-none gap-8">
                    {
                        navLinkList.map((navLink) => (
                            <li>
                                <a
                                    class="text-lg"
                                    href={navLink.link}
                                    rel="noreferrer noopener"
                                >
                                    {navLink.text}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </div>
    </Container>
</header>
