---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
