---
import Container from '@layouts/Container.astro'
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer class="py-4">
    <Container>
        <p class="text-center text-slate-400">
            Copyright © 2023 Martin Code Blog
        </p>
    </Container>
</footer>
