---
import Container from '@layouts/Container.astro'
---

<footer class="py-4">
    <Container>
        <p class="text-center text-slate-500">
            Copyright © 2023 Martin Code Blog
        </p>
    </Container>
</footer>
