---
import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<article class="mb-6 transition">
  <div class="relative mb-6 rounded bg-gray-400 shadow-lg dark:bg-slate-700 md:h-64">
    {
      image && (
        <a href={getPermalink(post.permalink, 'post')}>
          <Image
            src={image}
            class="w-full rounded bg-gray-400 shadow-lg dark:bg-slate-700 md:h-full"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        </a>
      )
    }
  </div>
  <h3 class="mb-2 font-heading text-xl font-bold leading-tight sm:text-2xl">
    {
      !APP_BLOG?.post?.isEnabled ? (
        post.title
      ) : (
        <a
          href={getPermalink(post.permalink, 'post')}
          class="transition duration-200  ease-in hover:text-primary dark:hover:text-blue-700"
        >
          {post.title}
        </a>
      )
    }
  </h3>
  <p class="text-lg text-muted dark:text-slate-400">{post.excerpt}</p>
</article>
