---
import '../styles/global.css'

import Footer from '../components/Footer/index.astro'
import Header from '../components/Header/index.astro'

interface Props {
    pageTitle: string
}

const { pageTitle } = Astro.props
---

<html lang="zh-tw">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <meta name="description" content="" />
    </head>
    <body class="flex flex-col min-h-screen">
        <Header />
        <main class="pt-16 flex-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>
